@media (max-width : 400px) {
    body {
        background-color: rgb(227, 103, 33);
        color: rgb(5, 94, 70);
    }
    #menu li {
        width: 100%;
        padding-top: 1em;
        border: none;
    }
    main {
        max-width: 100%;
    }
    aside {
        float: left;
        max-width: 100%;
        margin-top: 0;
    }
    img,
    p
    {
        float:none;
        margin-left: 0;
        height: 100%;
        width: 100%;
    }
}
