body {
    background-color: black;
    color: white;
}


#menu li {
    box-sizing: border-box;
    display: inline-block;
    list-style-type: none;
    margin-left: 1em;
    border: 2px solid rgb(73, 75, 72);
}

main {
    display: inline-block;
    width: 70%;
    padding: 2em;
}
img {
    float: left;
}
p {
    height:200px;
    padding-left: 1em;
    margin-left: 200px;
}

aside {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 3em;
}
#lateral li {
    list-style-type: none;
    margin: 1em;
}

a {
    text-decoration: none;
    color: rgb(73, 75, 72);
}

a:hover {
    color: rgb(149, 110, 8)
}
/*
@media (max-width : 400px) {
    body {
        background-color: rgb(227, 103, 33);
        color: rgb(5, 94, 70);
    }
    #menu li {
        width: 100%;
        padding-top: 1em;
    }
    main {
        max-width: 100%;
    }
    aside {
        float: left;
        max-width: 100%;
    }
}
*/
